header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831f5;
    font-weight: 400;
    height: 8vh;    
    width: 100%;
    padding: 30px 16px;
    z-index: 6;
    position: fixed;
    top: 0;
}