.slide-container{
    /* background-color: blanchedalmond; */
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}   

.heigh-slider{
    height: 43vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.banner-title{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Dancing Script';   
    margin-bottom: 7px;
}

.banner-description{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    width: 55%;
    margin-bottom: 28px;    
}


@media screen and (max-width: 1040px) {
    .heigh-slider{
        height: 50vh;
    }
    
    .banner-description{
        width: 65%;
        font-size: 21px;

    }

    .banner-title{
        font-size: 70px;
    }
}

