.slide-container{
    /* background-color: blanchedalmond; */
    color: white;
    width: 100vw;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Dancing Script';   
}

.banner-description{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}