.hamburguer-icon{
    cursor: pointer;
    display: none;
    background-color: #222831f8;
    /* position: fixed;
    top: 0;
    right: 0;
    z-index: 3; */
}

#menu{
    color: #ffffff;
}


.inactive{
    display: none;    
}

@media screen and (max-width: 1040px) {
    .hamburguer-icon{
        display: block;
    }    
}