.container-menucard{
    max-width: 100%;
    width: 360px ;
    height:400px;
    background-color: #222831;
    overflow: hidden;
    color: white;
    border-radius: 15px;
    margin: 6px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6)
}


.food-img{
    height: 200px;
    background-color: #F1F2F3;
    border-radius: 0 0 0px 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.food-img img{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.26s;
    
}

.food-img img:hover{
    transform: scale(1.1);
}


.price-item{
    font-size: 1.25rem;
    font-family: 'Dancing Script'; 
}

.description-item{
    font-size: 15px;
}

.food-info{
    width: 80%;
    margin: 0 auto;
}

.container-price{
    margin-top: 18px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 19px;
    font-family: 'Dancing Script';
}
.shop-cart-container{
    background-color: #fdb926;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.25s;
}

.shop-cart-container:hover{
    background-color: #E69C00;
}

.shop-cart-container i{
    color: white;
}

.food-title{
    font-size: 1.25rem;
    font-family:'Open Sans';
    font-weight: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.description-item{
    font-size: 15px;
    font-family: 'Open Sans';
}

#link-buy{
    color: transparent;
}
