*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");


.container{
  margin: 0 auto;
  max-width: 1170px; /* opcional: para definir a largura máxima do conteúdo */
}

#sectionHeader{
  background-image: url('/src/assets/images/hero-bg.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#sectionFooter{
  background-color: #222831;
}

.sectionAbout{
  margin-top: 70px;
  background-color: #222831;
  padding: 90px 0;
}


.hidden{
  opacity: 0;
  transition: all 2.2s;
}


.show{
  opacity: 1;
  animation: slide-in 1s ease-in;
}


html {
  scroll-behavior:smooth;
}


@keyframes slide-in {
  0%{ 
      transform: translateX(-10px) ;
      opacity: 0.5;
  }
  100%{
      transform: translateX(0px) ;
      opacity: 1;
  }
}


