@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

.container{
  margin: 0 auto;
  max-width: 1100px; /* opcional: para definir a largura máxima do conteúdo */
}


#sectionHeader{
  background-image: url('/src/assets/images/hero-bg.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
