footer{
    width: 80vw;
    padding-top: 45px;
    padding-bottom: 45px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans';
}

.footer-title{
    font-size: 38px;
    font-family: 'Dancing Script'; 
    margin-bottom: 14px;
}

.box-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 255px;    
    text-align: center;
}

.box-footer a{
    color: white;
    text-decoration: none;
}

.social-midias{
    margin-top: 14px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}       

.container-midia{
    background-color: white;   
    padding: 10px 12px;
    border-radius: 8px;

}

.container-midia i{
    transition: 0.25s;
    color: #222831;
    font-size: 16px;
}

.container-midia i:hover{
    color: #FFBE33;
}

@media screen and (max-width: 960px){
    footer{
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }

    footer:first-child{
        padding-top: 0px;
    }

    .box-footer{
        padding-top: 45px;
    }
}
